.a{
    width: 5px;
    padding: 10px;
    margin-left: 15px;
    font-size: 20px;
}
.b{
    list-style-type: none;
    
}
li{
    float: left;
    padding: 15px;
}
.c{
    margin-left: 700px;
   margin-top: -60px;
}
.d{
    margin-top: 100px;
    margin-left: 560px;
}
.e{
    background-color: rgb(234, 250, 215);
    width: 250px;
    height: 230px;
    margin-left: 200px;
    margin-top: 70px;
    border-radius: 10px;
}
.we{
    padding: 50px;
    margin-left: 16px;
    margin-top: -40px;
    height: 10px;
    width: 200px;
}
.f{
    width: 40px;
    margin-left: 105px;
    margin-top: 10px;
    height: 40px;
    
}
.yt{
    text-align: center;
    margin-top: -40px;
}
.ew{
    margin-left: 80px;
    padding: 8px;
    margin-top: -20px;
    border-radius: 5px;
    border: none;
    color: rgb(53, 30, 225);
    background-color: rgba(5, 248, 248, 0.733);
    }

    .wq{
    background-color: rgb(234, 250, 215);
    width: 250px;
    height: 230px;
    margin-left: 500px;
    margin-top: -230px;
    border-radius: 10px;
}
.ww{
    padding: 50px;
    margin-left: 16px;
    margin-top: -40px;
    height: 10px;
    width: 200px;
}
.re{
    width: 40px;
    margin-left: 105px;
    margin-top: 10px;
    height: 40px;
    
}
.fd{
    text-align: center;
    margin-top: -40px;
}
.fc{
    margin-left: 80px;
    padding: 8px;
    margin-top: -20px;
    border-radius: 5px;
    border: none;
    color: rgb(53, 30, 225);
    background-color: rgba(5, 248, 248, 0.733);
    }

    .cc{
    background-color: rgb(234, 250, 215);
    width: 250px;
    height: 230px;
    margin-left:800px;
    margin-top: -230px;
    border-radius: 10px;
}
.dd{
    padding: 50px;
    margin-left: 16px;
    margin-top: -40px;
    height: 10px;
    width: 200px;
}
.ee{
    width: 40px;
    margin-left: 105px;
    margin-top: 10px;
    height: 40px;
    
}
.ff{
    text-align: center;
    margin-top: -40px;
}
.ss{
    margin-left: 80px;
    padding: 8px;
    margin-top: -20px;
    border-radius: 5px;
    border: none;
    color: rgb(53, 30, 225);
    background-color: rgba(5, 248, 248, 0.733);
    }